body {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100vh;
}
#frame .grid {
  height: 10rem;
  width: 10rem;
  position: relative;
  float: left;

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
#frame {
  /* background: greenyellow; */
  --size: 30rem;
  height: var(--size);
  width: var(--size);

  background-image: url(./resources/grid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

#frame img.H {
  max-width: 100%;
  position: absolute;
  padding: 0;

  left: 0;
}

#frame img.V {
  max-width: 100%;
  position: absolute;
  padding: 0;

  top: -0.5525rem;
  transform-origin: left;
  transform: rotateZ(90deg);
}
#frame img.D1 {
  max-width: 100%;
  position: absolute;
  padding: 0;
  --offset: 5rem;
  left: var(--offset);
  top: var(--offset);
  transform-origin: left;
  transform: rotateZ(45deg);
}
