body {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100vh;
}
.grid {
  height: 10rem;
  width: 10rem;
  position: relative;
  float: left;

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
#frame {
  /* background: red; */
  --size: 30rem;
  height: var(--size);
  width: var(--size);

  background-image: url(./resources/grid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
